<section id="about" class="content">
  <header>
    <h1>ABOUT</h1>
  </header>
  <div class="aboutLayout">
    <div class="aboutContent">
      <p>
        What's up, my name is Chulmin Han. I'm a multidisciplinary artist and
        designer based out of Dallas, TX, and I enjoy making things—from
        furniture to UIs—that combine both form and function in ways that
        complement our daily lives.
      </p>

      <img src="/assets/svg/smallLeaf01.svg" alt="" />
    </div>

    <div class="socials">
      <ul>
        <li>
          <a href="" class="ig"></a>
        </li>
  
        <li>
          <a href="" class="lin">
            in
          </a>
        </li>
  
        <li>
          <a href="" class="be">
            B&#x00113
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
