<section id="about" class="content">
  <header>
    <h1>ABOUT</h1>
  </header>
  <div class="aboutLayout">
    <!-- <div class="aboutContent">
                <ul>
                  <li>
                    <h3>Education — 2021</h3>
                  </li>
                  <li>Maryland Institute College of Art</li>
                  <li>BFA in General Fine Arts</li>
                  <li>Minor in Graphic Design</li>
                </ul>
      
                <ul>
                  <li>
                    <h3>Things I Can Do</h3>
                  </li>
                  <li>HTML + CSS</li>
                  <li>Basic Javascript</li>
                  <li>Adobe Suite</li>
                </ul>
      
                <ul>
                  <li>
                    <h3>Things I Like To Do</h3>
                  </li>
                  <li>Woodworking</li>
                  <li>Portrait Drawing</li>
                  <li>Play Music</li>
                </ul>
              </div> -->

    <div class="aboutContent">
      <p>
        What's up, my name is Chulmin Han, and I'm a multidisciplinary artist
        and designer based out of Dallas, TX. I enjoy making things—from
        furniture to UI's—that combine both form and function in a way that can
        be involved in our daily living.
      </p>

      <img src="/assets/svg/smallLeaf01.svg" alt="" />
    </div>
  </div>
</section>
