<header class="site_header">
  <h1>{{ projectTitle }}</h1>

  <div class="headInfo">
    <div class="finalResultButtonContainer">
      <a class="finalResult" href="{{ final }}">FINAL RESULT →</a>
    </div>
    <p>{{ summary }}</p>

    <ul>
      <li>{{ semester}}</li>

      {% for category in categories %}
      <li>{{ category }}</li>
      {% endfor %}
    </ul>
    <div class="headImage generalImage">
      <a href="{{ final }}">
        <div class="bar">
          <div class="dot"></div>
          <div class="greyBar">
            <h6>← →</h6>
          </div>
          <div class="greyTab"></div>
        </div>
        <img src="{{ image }}" alt="{{ alt }}" />
      </a>
    </div>
  </div>
</header>
