<div class="project">
  <div class="worksTitle">
    <h2>{{ projects.data.pageTitle }}</h2>
    <h3>{{ projects.data.semester }}</h3>
  </div>
  <div class="worksImage">
    <div class="frame">
      <div class="bar">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <img
        src="{{ projects.data.link }}"
        alt="Canvas Redesign homepage"
        class="homeImage"
      />
    </div>
  </div>
  <div class="worksInfo">
    <ul>
      {% for item in projects.data.categories %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
  <a class="worksButton" href="{{ projects.url }}index.html">SEE MORE →</a>
</div>
