<footer>
  <!-- <ul>
    <li>
      <a href="/index.html#works"> featured projects</a>
    </li>
    <li>
      <a href=""> other works</a>
    </li>
    <li>
      <a href="/index.html#contact"> contact</a>
    </li>
  </ul> -->
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/chulmin-han-2396971b0/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <div class="lin">
          <p>in</p>
        </div></a
      >
    </li>
    <li>© 2021</li>
    <li>Chulmin Han</li>
    <li>Made using 11ty</li>
  </ul>
</footer>
