---
layout: default.html
---

<section class="works">
  <header>
    <h1>{{ projectTitle }}</h1>
  </header>

  <div class="processHeader">
    {% include final_button.html %}

    <div class="processCat">
      <ul>
        <li>{{ year }}</li>

        {% for cat in categories %}
        <li>{{ cat }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="processSum">
      <p>{{ summary }}</p>
    </div>

    <div class="workImg processImg">
      <a href="{{ finalUrl }}">
        <div class="bar">
          <div class="dot"></div>
          <div class="greyBar">
            <span>← →</span>
          </div>
          <div class="greyTab"></div>
        </div>
        <img src="{{ image }}" alt="" />
      </a>
    </div>
  </div>
  {{ content }}
</section>
