---
layout: default.html
projectTitle: Computer Museum Redesign
year: summer 2021
summary: "A redesign of a site based on findings from a heuristic evaluation,
ultimately presented through a developed responsive site. This project
had a heavy emphasis on solving established usability issues. The final
site was developed using HTML and SASS with 11ty."

tags: works
categories: ["HTML", "SASS", "11ty"]
image: /assets/images/CMR01.png
order: 1
finalUrl: "https://pensive-brown-755bf3.netlify.app"
---

<section class="works">
  {% include process_header.html %}

  <div class="processInfo">
    <h2>background</h2>

    <div>
      <p>
        To start off this project, students were given both ‘stakeholder’ and
        ‘designer’ roles and then put into pairs in order to mimic the process
        of fulfilling goals set by a stakeholder or client. The ‘stakeholder’
        performed a heuristic evaluation, analysing every aspect of the site to
        be redesigned and establishing the user as well as business goals to be
        addressed, which was then handed off to the 'designer' who came up with
        possible solutions.
      </p>
      <div class="space"></div>
      <p>The established user goals were as follows:</p>
      <ol>
        <li>Make an appointment.</li>

        <li>
          Get information about the museum such as address and open hours.
        </li>

        <li>Look at museum contents.</li>
      </ol>
      <div class="space"></div>
      <p>The established business goals were as follows:</p>
      <ol>
        <li>Market and advertise the museum.</li>
        <li>Get users interested and signed up for the museum newsletter.</li>
        <li>Get users to sign up for museum visit appointments.</li>
      </ol>
    </div>
  </div>

  <div class="processInfo">
    <h2>problems</h2>

    <div>
      <p>
        A notable issue with the original site was that the site navigation was
        not consistent in how the navigation would change between pages. Another
        issue was that the user could not navigate to the homepage through the
        site itself but instead had to either re-enter the url or use the
        browser’s previous page button. Site content was also split into many
        different categories which simply led to being lost on the site.
        Overall, the site suffered from inconsistent navigation, disorganized
        information architecture, and lack of content hierarchy.
      </p>
    </div>
  </div>

  <div class="processInfo">
    <h2>High Level Priority Guide</h2>

    <div>
      <p>
        In line with the established user and business goals as well as the
        identified problems, I created a high level priority guide and sorted
        the topics from greatest importance to least.
      </p>

      <div class="space"></div>

      <div class="processPictures">
        <img
          src="/assets/images/CMR_PG01.png"
          alt="High level priority guide."
        />
      </div>
    </div>
  </div>

  <div class="processInfo">
    <h2>Detailed Priority Guide</h2>
    <div>
      <p>
        I then organized the remaining site content into a detailed priority
        guide.
      </p>

      <div class="space"></div>
      <div class="processPictures">
        <img src="/assets/images/CMR_PG02.png" alt="Detailed priority guide." />
      </div>
    </div>
  </div>

  <div class="processInfo">
    <h2>Wireframe</h2>

    <div>
      <div class="processPictures">
        <img src="/assets/images/CMR02.png" alt="Mobile wireframe." />
        <p>Mobile wireframe made in Adobe Xd.</p>
      </div>
      <div class="processPictures">
        <img src="/assets/images/CMR03.png" alt="Web Wireframe." />
        <p>Web wireframe made in Adobe Xd.</p>
      </div>
    </div>
  </div>

  <div class="processInfo">
    <h2>Mock up</h2>

    <div>
      <div class="processPictures">
        <img src="/assets/images/CMR04.jpg" alt="Mobile mock up." />
        <p>Mobile mock up made in Adobe Illustrator.</p>
      </div>
      <div class="processPictures">
        <img src="/assets/images/CMR05.jpg" alt="Web mock up." />
        <p>Web mock up made in Adobe Illustrator.</p>
      </div>
    </div>
  </div>

  <div class="processInfo">
    <h2>First Developed Site</h2>
    <div>
      <p>
        The final aspect of this project was to develop the site in 11ty using
        HTML and SASS. I also utilized Glitch to facilitate more efficient
        commenting and site sharing. Unsatisfied with the original color scheme,
        I opted to go for a more computer related aesthetic.
      </p>
      <div class="space"></div>
      <div class="processPictures">
        <img
          src="/assets/images/CMR_S1_01.png"
          alt="Home page of first developed site."
        />
        <p>Home page with appointment and tour buttons.</p>
      </div>
      <div class="processPictures">
        <img
          src="/assets/images/CMR_S1_02.png"
          alt="Gallery page of first developed site."
        />
        <p>Gallery page with different categories.</p>
      </div>
      <div class="processPictures">
        <img
          src="/assets/images/CMR_S1_03.png"
          alt="Contact page of first developed site."
        />
        <p>Contact page with appointment selection.</p>
      </div>
      <div class="processPictures">
        <img
          src="/assets/images/CMR_S1_04.png"
          alt="About page of first developed site."
        />
        <p>About page with relevant information.</p>
      </div>
    </div>
  </div>

  <div class="processInfo">
    <h2>Revised Prototype</h2>

    <div>
      <p>
        I decided to revisit this project after I finished the semester. I had
        felt that even though my final result was more concise than the original
        website, there was still a lot left to be desired, not only in terms of
        aesthetics but also in its overall user experience.
      </p>
      <div class="space"></div>
      <p>
        This time, I planned to go for a single page layout instead of having
        separate pages because I wanted the user to be able to experience all of
        the museum's content without any site navigation besides simple
        scrolling. I had the idea to create a nifty keyboard interaction that
        would lead the user to the gallery items but I scrapped it in favor of a
        more straight forward approach.
      </p>

      <div class="space"></div>
      <div class="processPictures">
        <img src="/assets/images/CMR06.png" alt="Mobile prototype." />
        <p>Prototype for mobile screen size.</p>
      </div>
      <div class="processPictures">
        <img src="/assets/images/CMR07.png" alt="Web prototype." />
        <p>Prototype for web screen size.</p>
      </div>
    </div>
  </div>

  <div class="processInfo">
    <div>{% include final_button.html %}</div>

    <div>
      <p>
        The final site was created using HTML and SASS with 11ty, however this
        time, without the use of glitch. The gallery and its contents were
        created using pagination within 11ty. This site has a bigger emphasis on
        the warning, appointment button, and virtual tour button than the
        previous version, and makes sure to put the museum information front and
        center.
      </p>
      <div class="space"></div>
      <div class="processPictures">
        <img src="/assets/images/CMR01.png" alt="Final developed site." />
      </div>
    </div>
  </div>
</section>
