---
layout: base.html
---

<section class="entry">
  {% include nav.html %}

  <!-- <img class="portrait" src="/assets/images/portrait.jpg" alt="" /> -->
  <!-- <img class="leaf01" src="/assets/svg/leaf01.svg" alt="" />
      <img class="leaf02" src="/assets/svg/leaf02.svg" alt="" /> -->

  <div class="bioInfo">
    <h1>Chulmin Han</h1>
    <!-- <h2>MICA 2021</h2>
        <h2>GENERAL FINE ARTS</h2>
        <h2>GRAPHIC DESIGN</h2> -->
  </div>
</section>

<section id="projects" class="content">
  <header>
    <h1>PROJECTS</h1>
  </header>
</section>

<section>
  {% assign projects = collections.projects | sortByPageOrder %} {% for item in
  projects%} {% include projects.html %} {% endfor %}

  <section id="about" class="content">
    <header>
      <h1>ABOUT</h1>
    </header>
    <div class="aboutLayout">
      <!-- <div class="aboutContent">
                <ul>
                  <li>
                    <h3>Education — 2021</h3>
                  </li>
                  <li>Maryland Institute College of Art</li>
                  <li>BFA in General Fine Arts</li>
                  <li>Minor in Graphic Design</li>
                </ul>
      
                <ul>
                  <li>
                    <h3>Things I Can Do</h3>
                  </li>
                  <li>HTML + CSS</li>
                  <li>Basic Javascript</li>
                  <li>Adobe Suite</li>
                </ul>
      
                <ul>
                  <li>
                    <h3>Things I Like To Do</h3>
                  </li>
                  <li>Woodworking</li>
                  <li>Portrait Drawing</li>
                  <li>Play Music</li>
                </ul>
              </div> -->

      <div class="aboutContent">
        <p>
          What's up, my name is Chulmin Han, and I'm a multidisciplinary artist
          and designer based out of Dallas, TX. I enjoy making things—from
          furniture to UI's—that combine both form and function in a way that
          can be involved in our daily living.
        </p>

        <img src="/assets/svg/smallLeaf01.svg" alt="" />
      </div>
    </div>
  </section>
</section>

<!-- section close is placed here to let position sticky work with other elements -->

<!-- projects id and project class are different in that projects is the whole and project is the individual works -->

<!-- contact -->

<!-- <section id="contact" class="content">
      <header>
        <h1>CONTACT</h1>
      </header>
    </section> -->
