#about {
  min-height: 100vh;
  background-color: #fafffa;
  // background-color: #fff;
  position: sticky;
  z-index: 1;

  header {
    border-bottom: 1px solid black;
  }

  h1 {
    // border-bottom: solid 1px red;
    border-style: dotted;
  }
}

.aboutLayout {
  padding: 20px;
  height: calc(100vh - 80px);
  box-sizing: border-box;
}

.aboutContent {
  // margin: 20px 40px;
  width: 280px;
  height: 180px;
  border: 1px solid black;
  padding: 0 10px;
  position: relative;
  box-sizing: border-box;
  margin: auto;

  ul {
    // padding: 20px;
    // margin: 0 auto;
    margin-bottom: 20px;
    // border-bottom: 1px solid red;
  }

  h3 {
    // border-bottom: 1px solid red;
    border-style: dotted;
    line-height: 1.5;
    // font-weight: 400;
    font-style: italic;
  }

  img {
    position: absolute;
    display: block;
    right: -10px;
    bottom: -13px;
    width: 50px;
  }
}
