:root {
  --site-padding: 20px;
  --column-width: calc((100vw - (var(--site-padding) * 2)) / 4);
}

body {
  background-color: #363636;
}

.container {
  //global stylings for headers and p and li
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 1.1;

  h1 {
    font-family: "Migra";
    font-size: 68px;
  }

  h2 {
    font-family: "NeueMontreal", sans-serif;
    font-weight: 400;
    color: #fff;
  }

  h3 {
    font-family: "NeueMontreal", sans-serif;
    font-weight: 200;
    color: #fff;
  }

  li {
    font-family: "NeueMontreal", sans-serif;
    color: #fff;
  }

  a {
    font-family: "NeueMontreal", sans-serif;
  }

  p {
    font-family: "NeueMontreal", sans-serif;
    font-weight: 200;
  }
}

// site_nav
.site_nav {
  padding: var(--site-padding) var(--site-padding)
    calc(var(--site-padding) * 0.75) var(--site-padding);
  box-sizing: border-box;
  border-bottom: 1px dotted #fff;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin: 5px 0;
    a {
      font-size: 20px;
      font-weight: 400;
      color: #fff;
    }
  }
}

.homeNav {
  box-sizing: border-box;
  width: var(--column-width);
}

.nav {
  box-sizing: border-box;
  width: var(--column-width);
}

.alignRight {
  text-align: right;
}

.leafIcon {
  height: 20px;
  text-align: left;

  img {
    height: inherit;
  }
}

//the whole projects section
.projectSection {
  h1 {
    margin: 20px;
    color: #fff;
  }
}

//individual projects
.project {
  margin: var(--site-padding);
}

//worksImage -> images for works lol
.projectImage {
  //variables for width and height to get same ratio always
  --image-width: var(--column-width);
  --image-height: calc((var(--image-width) * 16) / 31);

  width: var(--image-width);
  box-sizing: border-box;
  height: var(--image-height);
  // box-shadow: 0 0 10px 5px #ebebeb;
  // box-shadow: 2px 0 15px 5px #4f4f4f;

  img {
    width: inherit;
    object-fit: cover;
    height: inherit;
    box-sizing: border-box;
  }

  a {
    width: inherit;
    height: inherit;
  }
}

//project -> indivual project slides i guess
//project info
//-->projectHead
//-->projectDescript
//-->projectPlus
.projectInfo {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dotted #fff;
}

.projectHead {
  // align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  width: var(--column-width);
  margin: 10px 0;

  h3 {
    padding: 5px 0 0 0;
  }

  h2 {
    height: fit-content;
    line-height: 1.5;
    font-size: 20px;
    width: var(--column-width);
    align-self: flex-end;
  }
}

.projectDescript {
  display: flex;
  width: calc(var(--column-width) * 2);

  p {
    width: var(--column-width);
    padding: 15px 30px 15px 0;
    font-size: 16px;
    box-sizing: border-box;
    color: #fff;
  }

  ul {
    padding: 15px 30px 15px 0;
    // width: calc((100vw - (var(--site-padding) * 2)) / 4);
    box-sizing: border-box;
  }

  li {
    font-weight: 200;
  }
}

.projectPlus {
  width: var(--column-width);
  position: relative;
  display: flex;
  align-self: flex-end;
}

//process button -> see more button
.seeMore {
  display: block;
  padding: 8px;
  height: 34px;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;
  color: #000000;
  border-radius: 25px;
  position: absolute;
  bottom: 8px;
  width: 160px;
  font-weight: 400;
  font-size: 16px;
}

.seeMore:hover {
  font-style: italic;
}

.about {
  // height: 700px;
  // background-color: #f5fff8;
  background-color: #fff;
  // padding: 20px;

  h1 {
    color: #000;
    margin: 20px 20px 0 20px;
    padding-top: 20px;
  }

  p {
    font-size: 20px;
  }
}

.aboutContent {
  display: flex;
  // margin: var(--site-padding);
}

.aboutInfo {
  height: 550px;
  width: var(--column-width);
  border: 1px dotted black;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}

.site_footer {
  margin: var(--site-padding);
  display: flex;
  justify-content: flex-end;

  ul {
    // width: calc((100vw - (var(--site-padding) * 2)) / 2);
    width: var(--column-width);
  }

  li {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 200;
  }
}

//responsive stuff @ 950px -> 3 columns
@media all and (max-width: 950px) {
  :root {
    --column-width: calc((100vw - (var(--site-padding) * 2)) / 3);
  }

  .projectHead {
    width: 100%;
  }

  .nav {
    text-align: right;
  }

  .homeNav {
    position: absolute;
    width: fit-content;
  }
}

//responsive stuff @ 760px -> 2 columns
@media all and (max-width: 760px) {
  :root {
    --column-width: calc((100vw - (var(--site-padding) * 2)) / 2);
  }

  .nav {
    text-align: right;
    width: 100%;
  }

  .homeNav {
    position: absolute;
    width: fit-content;
  }

  .projectPlus {
    width: calc(var(--column-width) * 2);
  }

  .seeMore {
    left: var(--column-width);
  }
}

//responsive stuff @ 520px -> 1 columns
@media all and (max-width: 520px) {
  :root {
    --column-width: calc(100vw - (var(--site-padding) * 2));
  }

  .nav {
    text-align: right;
    width: 100%;
  }

  .projectDescript {
    flex-wrap: wrap;
    width: var(--column-width);
  }

  .homeNav {
    position: absolute;
    width: fit-content;
  }

  .projectPlus {
    width: var(--column-width);
    margin-top: 5px;
  }

  .seeMore {
    position: relative;
  }

  .seeMore {
    left: 0;
  }

  .site_footer ul {
    width: calc(var(--column-width) / 2);
  }
}
