:root {
  --site-padding: 20px;
}

body {
  background-color: #363636;
}

.container {
  //global stylings for headers and p and li
  color: #fff;
  h1 {
    font-family: "Migra";
    font-size: 68px;
    margin: 20px;
    // font-style: italic;
    color: #fff;
  }

  h2 {
    font-family: "NeueMontreal", sans-serif;
    font-weight: 400;
    color: #fff;
  }

  li {
    font-family: "NeueMontreal", sans-serif;
    color: #fff;
  }

  a {
    font-family: "NeueMontreal", sans-serif;
    font-weight: 200;
    color: #fff;
  }
}

// site_nav
.site_nav {
  padding-bottom: 10px;
  margin: var(--site-padding);
  border-bottom: 1px solid #fff;

  ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  li a {
    font-size: 20px;
    font-weight: 400;
  }
}

.leafIcon {
  width: 25px;
  img {
    width: inherit;
  }
}

//content -> where all the project content goes
.content {
  padding: 0 var(--site-padding);
  // display: flex;
  // flex-wrap: wrap;
}

.project {
  //variables for setting up the window bar thingy
  --bar-height: 14px;
  --image-width: calc(50vw - (var(--site-padding) * 2));
  --image-height: calc((var(--image-width) * 16) / 31 + var(--bar-height));
  --image-border-radius: 3px;

  width: var(--image-width);
  margin-bottom: 40px;
}

//worksImage -> images for works lol
.projectImage {
  width: var(--image-width);
  // box-shadow: 0 0 10px 5px #ebebeb;
  box-shadow: 2px 0 15px 5px #4f4f4f;
  border-radius: var(--image-border-radius);
  box-sizing: border-box;
  height: var(--image-height);

  img {
    width: inherit;
    object-fit: cover;
    height: calc(var(--image-height) - var(--bar-height));
    box-sizing: border-box;
    border-radius: 0 0 var(--image-border-radius) var(--image-border-radius);
  }
}

.bar {
  height: var(--bar-height);
  background-color: #adadad;
  border-bottom: 1px solid #363636;
  border-radius: var(--image-border-radius) var(--image-border-radius) 0 0;
  display: flex;
}

.dot {
  width: calc(var(--bar-height) / 2);
  height: calc(var(--bar-height) / 2);
  border-radius: calc(var(--bar-height) / 4);
  background-color: #363636;
  margin-top: calc(var(--bar-height) / 4);
  margin-left: calc(var(--bar-height) / 4);
}

//project -> indivual project slides i guess
.projectInfo {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;

  ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  li {
    font-weight: 200;
  }
}

//see more button
.seeMore {
  padding: 10px;
  display: block;
  border: 1px dotted black;
  border-radius: 20px;
  width: fit-content;
}
