body {
  background-color: #000;
}

.entry {
  //   background-color: #deffe9;
  //   background-color: #2d593e;
  //   background-color: #26452e;
  background-color: #486b51;
  // background-color: #386944;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-content: space-between;
  justify-content: flex-end;

  h1 {
    font-family: "MigraRegular";
    font-size: 64px;
    text-align: right;
    color: #fff;
  }

  h2 {
    font-family: "WoodlandUltralight";
    font-size: 24px;
    text-align: right;
    color: #fff;
    // letter-spacing: -2.5px;
  }

  p {
    font-family: "NeueMontrealLight";
    font-size: 16px;
    color: #fff;
    text-align: right;
  }
}

.bioInfo {
  width: 100%;
}

nav {
  width: 100%;
  height: fit-content;

  ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
  }

  li {
    font-family: "NeueMontrealLight";
    font-size: 16px;
    // letter-spacing: -2.5px;
    color: #fff;
    width: fit-content;
  }
}

.portrait {
  width: 300px;
  height: 350px;
  transform: scale(120%);
  object-fit: cover;
  border-radius: 150px / 175px;
  margin: 30px;
}

//WORKS

.projectSection header {
  // position: sticky;
  // top: 0;
  height: 80px;
  background-color: black;
  display: flex;

  h1 {
    align-self: center;
    font-family: "MigraRegular";
    font-size: 48px;
    color: #fff;
    // padding: 20px 0;
    margin: 20px 0 0 20px;
  }
}

.projects {
  padding: 3vh 3vh 10vh 3vh;
  background-color: #000;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: -1;
  // height: 100vh;
  display: grid;
  height: 100vh;
  gap: 20px;
  grid-template-rows: auto 3fr auto auto;
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

.worksTitle {
  // display: flex;
  justify-content: space-around;
  color: #fff;
  width: 200px;
  margin: 0 0 20px 0;

  h2 {
    font-family: "MigraRegular";
    font-size: 36px;
  }

  h3 {
    font-family: "WoodlandUltralight";
    font-size: 24px;
  }
}

.worksInfo {
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
  }

  li {
    font-family: "NeueMontrealLight";
    font-size: 16px;
    color: #fff;
    width: fit-content;
  }
}

.worksButton {
  font-family: "WoodlandUltralight";
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #d6d6d6;
  padding: 15px 0 10px 0;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 35px;
  height: fit-content;
  box-sizing: border-box;
}

.worksImage {
  // padding: 10px;
  // border: 1px solid #636363;
  // height: fit-content;
  // border-radius: 5px;
  // margin: 0 auto;
  // width: 800px;
  // width: 50vw;
  margin: auto;

  .homeImage {
    width: 100%;
    object-fit: cover;
    border: 1px solid #636363;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    // height: 405px;
    // height: 95%;
  }

  // .frame {
  //   border: 1px solid #636363;
  //   width: 800px;
  //   // height: fit-content;
  //   // height: 425px;
  // }
}

.bar {
  height: 5%;
  border-top: 1px solid #636363;
  border-left: 1px solid #636363;
  border-right: 1px solid #636363;
  border-radius: 3px 3px 0 0;
  display: flex;
  box-sizing: border-box;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #636363;
  align-self: center;
  margin: 5px 0 5px 5px;
}

footer {
  // background-color: black;
  height: 200px;

  li {
    font-family: "NeueMontrealLight";
    font-size: 16px;
    color: #fff;
    width: fit-content;
  }
  p {
    font-family: "NeueMontrealLight";
    font-size: 16px;
    color: #fff;
    width: fit-content;
  }
}
