:root {
  --site-padding: 40px;
  scroll-behavior: smooth;
}

body {
  background-color: #1f1f1f;
}

//universal font styling
.container {
  font-family: "neue-haas-grotesk-display", sans-serif;

  h1 {
    font-family: inherit;
  }

  h2 {
    font-family: inherit;
  }

  p {
    font-family: inherit;
    line-height: 1.4;
  }

  li {
    font-weight: 500;
    font-style: normal;
    font-family: inherit;
  }

  button {
    font-family: inherit;
  }
}
