:root {
  --site-padding: 20px;
}

body {
  scroll-behavior: smooth;
  background-color: #1f1f1f;
}

//universal font styling
.container {
  font-family: "neue-haas-grotesk-display", sans-serif;

  h1 {
    font-family: inherit;
  }

  h2 {
    font-family: inherit;
  }

  p {
    font-family: inherit;
  }

  li {
    font-weight: 500;
    font-style: normal;
    font-family: inherit;
  }

  button {
    font-family: inherit;
  }
}

.container header {
  margin: 20px 40px;
  height: 200px;

  h1 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1200px) {
  // .indWorks {
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: repeat(2, 1fr);
  // }

  // .workInfo {
  //   grid-columns: 1 / 2;
  //   grid-row: 2 / 3;
  // }

  // .workButton {
  //   grid-columns: 2 / 3;
  //   grid-row: 2 / 3;
  // }
}
