//Right Grotesk
@font-face {
  font-family: "RightGroteskMedium";
  src: url("/assets/fonts/RightGrotesk-Medium.woff2") format("woff2"),
    url("/assets/fonts/RightGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "RightGroteskFine";
  src: url("/assets/fonts/RightGrotesk-Fine.woff2") format("woff2"),
    url("/assets/fonts/RightGrotesk-Fine.woff") format("woff");
}

//Migra
@font-face {
  font-family: "MigraExtraBold";
  src: url("/assets/fonts/Migra-Extrabold.woff2") format("woff2"),
    url("/assets/fonts/Migra-Extrabold.woff") format("woff");
}
@font-face {
  font-family: "MigraRegular";
  src: url("/assets/fonts/Migra-Regular.woff2") format("woff2"),
    url("/assets/fonts/Migra-Regular.woff") format("woff");
}

//Neue Montreal
@font-face {
  font-family: "NeueMontrealRegular";
  src: url("/assets/fonts/NeueMontreal-Regular.woff2") format("woff2"),
    url("/assets/fonts/NeueMontreal-Regular.woff") format("woff");
}

@font-face {
  font-family: "NeueMontrealLight";
  src: url("/assets/fonts/NeueMontreal-Light.woff2") format("woff2"),
    url("/assets/fonts/NeueMontreal-Light.woff") format("woff");
}

//PPWoodland
@font-face {
  font-family: "WoodlandRegular";
  src: url("/assets/fonts/PPWoodland-Regular.woff2") format("woff2"),
    url("/assets/fonts/PPWoodland-Regular.woff") format("woff");
}

@font-face {
  font-family: "WoodlandUltralight";
  src: url("/assets/fonts/PPWoodland-Ultralight.woff2") format("woff2"),
    url("/assets/fonts/PPWoodland-Ultralight.woff") format("woff");
}
