.gdWorks {
  background-color: #ffffff;
  display: block;
  padding: 20px 40px 40px 40px;
}

.gdWorks header {
  display: flex;
  height: 150px;

  h1 {
    align-self: flex-end;
    color: #000000;
    display: block;
  }
}

.gdWorksGrid {
  display: grid;
  gap: var(--site-padding);
  grid-template-columns: repeat(3, 1fr);
  margin: calc(var(--site-padding) * 2) 0 var(--site-padding) 0;
}

.indGdWorks {
  height: calc((100vw - (var(--site-padding) * 4)) / 3);
  // margin: calc(var(--site-padding) * 2) 0 var(--site-padding) 0;
  position: relative;
  width: calc((100vw - (var(--site-padding) * 4)) / 3);
}


.gdWorksImg {
  height: inherit;
  width: inherit;
  // object-fit: contain;

  a {
    height: inherit;
    width: inherit;
  }

  img {
    height: inherit;
    margin: 0 auto;
    object-fit: cover;
    width: inherit;
  }
}

.gdWorksHeader {
  background-color: #00000099;
  bottom: 0;
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;

  a {
    align-content: center;
    display: flex;
    height: inherit;
    justify-content: center;
  }

  h2 {
    align-self: center;
    color: #ffffff;
    text-align: center;
    margin: 20px;
  }
}

// make so when webpage width is small, header comes below img like in other works so that title is visible for mobile
.indGdWorks:hover {
  .gdWorksHeader {
    animation-duration: .5s;
    animation-name: opacityHover;
    opacity: 1;

  }

}


@keyframes opacityHover {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// .gdWorksButton {
//   justify-self: center;

//   a {
//     background-color: #000000;
//     color: #ffffff;
//   }
// }
