@media all and (max-width: 1300px) {
  .processHeader {
    grid-template-columns: auto 650px;
    grid-template-rows: auto auto auto;

    .processSum {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    .processImg {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }
  }
}

@media all and (max-width: 1100px) {
  .works {
    .indWorks {
      grid-template-columns: 450px auto;
      grid-template-rows: auto auto auto;

      .workInfo {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
      }

      .workButton {
        grid-row: 3 / 4;
      }
    }
  }

  .processHeader {
    grid-template-columns: calc(100vw - (var(--site-padding) * 2));
    grid-template-rows: repeat(4, auto);

    .processSum {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .processCat {
      grid-row: 4 / 5;
    }

    .processImg {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      --image-width: calc(100vw - (var(--site-padding) * 2));
    }
  }

  .processInfo {
    grid-template-columns: 200px auto 100px;
  }

  .contactInfo {
    flex-wrap: wrap;

    p {
      height: fit-content;
      width: 100%;
    }
  }
}

@media all and (max-width: 800px) {
  .works {
    .indWorks {
      grid-template-columns: auto auto;
      grid-template-rows: repeat(4, auto);

      .workInfo {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
      }

      .workHeader {
        grid-column: 1 / 3;
      }

      .workCat {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        text-align: left;
      }

      .workButton {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
      }

      .workImg {
        grid-column: 1 / 3;
        --image-width: calc(100vw - (var(--site-padding) * 2));
      }
    }
  }

  .processInfo {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .contact header {
    grid-column: 1 / 2;
  }

  .contactInfo {
    grid-row: 2 / 3;
  }

  .emailForm {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 100%;
  }
}

@media all and (max-width: 450px) {
  :root {
    --body-font-size: 14px;
    --nav-font-size: 20px;
    --header-font-size: 44px;
  }
  .container .site_nav {
    .logo {
      width: 24px;
    }
  }

  .works {
    .indWorks {
      grid-template-columns: auto auto;
      grid-template-rows: repeat(4, auto);

      .workInfo {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      .workHeader {
        grid-column: 1 / 2;
      }

      .workCat {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        text-align: left;
      }

      .workButton {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
      }

      .workImg {
        grid-column: 1 / 2;
      }
    }
  }

  body .container footer ul {
    width: 100%;

    li {
      text-align: left;
    }
  }
}
