//responsive stuff @ 950px -> 3 columns
@media all and (max-width: 950px) {
  :root {
    --column-width: calc((100vw - (var(--site-padding) * 2)) / 3);
  }

  .projectHead {
    width: 100%;
  }

  .nav {
    text-align: right;
  }

  .homeNav {
    position: absolute;
    width: fit-content;
  }
}

//responsive stuff @ 760px -> 2 columns
@media all and (max-width: 760px) {
  :root {
    --column-width: calc((100vw - (var(--site-padding) * 2)) / 2);
  }

  .nav {
    text-align: right;
    width: 100%;
  }

  .homeNav {
    position: absolute;
    width: fit-content;
  }

  .projectPlus {
    width: calc(var(--column-width) * 2);
  }

  .seeMore {
    left: var(--column-width);
  }
}

//responsive stuff @ 520px -> 1 columns
@media all and (max-width: 520px) {
  :root {
    --column-width: calc(100vw - (var(--site-padding) * 2));
  }

  .nav {
    text-align: right;
    width: 100%;
  }

  .projectDescript {
    flex-wrap: wrap;
    width: var(--column-width);
  }

  .homeNav {
    position: absolute;
    width: fit-content;
  }

  .projectPlus {
    width: var(--column-width);
    margin-top: 5px;
  }

  .seeMore {
    position: relative;
  }

  .seeMore {
    left: 0;
  }

  .site_footer ul {
    width: calc(var(--column-width) / 2);
  }
}
