.otherWorks {
  background-color: #ffffff;
  display: block;
  padding: 20px 40px 40px 40px;
}

.otherWorks header {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  height: 150px;

  h1 {
    align-self: flex-end;
  }
}

.otherWorksGrid {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  gap: calc(var(--site-padding) * 2) var(--site-padding);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: calc(var(--site-padding) * 2) 0 var(--site-padding) 0;
}

.indOtherWorks {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  // margin: calc(var(--site-padding) * 2) 0 var(--site-padding) 0;

  h2 {
    text-align: center;
  }
}

.otherWorksImg {
  // --image-size: 300px;

  // width: var(--image-size);
  // height: var(--image-size);
  height: calc((100vw - (var(--site-padding) * 4)) / 2);
  justify-self: center;
  width: 100%;

  a {
    height: inherit;
    width: inherit;
  }

  img {
    height: inherit;
    margin: 0 auto;
    object-fit: cover;
    width: inherit;
  }
}

.otherWorksButton {
  justify-self: center;

  a {
    background-color: #000000;
    color: #ffffff;
  }
}
