//worksImage -> images for works lol
.processImage {
  //variables for width and height to get same ratio always
  --image-width: calc(var(--column-width) * 2);
  --margin: 80px;

  box-sizing: border-box;
  height: auto;
  width: var(--image-width);
  overflow: hidden;
  margin-bottom: 10px;
  // background-image: linear-gradient(#000, #1a1a1a);
  background-color: #000;

  img {
    box-sizing: border-box;
    object-fit: contain;
    max-height: 550px;
    margin: calc(var(--margin) / 4) auto;
    display: block;
    // padding: 80px;
    // width: var(--image-width);
    max-width: calc(var(--image-width) - calc(var(--margin) * 2));
    box-sizing: border-box;
    border: 1px solid grey;
  }

  p {
    font-style: italic;
    font-size: 14px;
    margin-left: var(--margin);
    margin-bottom: var(--site-padding);
    width: calc(var(--image-width) - calc(var(--margin) * 2));
    // width: 100%;
    // text-align: center;

    //i think i will keep it justified left to keep everything in the grid
  }
}
