.projectEntry {
  height: 100vh;
  background-image: linear-gradient(#000, #212121);
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  grid-template-rows: auto auto auto auto;

  header {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 0 auto;

    h1 {
      color: #fff;
      width: 100%;
      text-align: center;
      align-self: center;
      font-family: "Migra";
      font-weight: 400;
      font-size: 64px;
      width: fit-content;
      margin: 0 20px;
    }
  }
}

.projectInfo {
  //   background-color: #fafffa;
  // background-image: linear-gradient(#f2fff2, #fff);
  background-color: #fff;
  //   padding: 100px;
  position: sticky;
  // height: calc(100vh - 45px);
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  // top: 45px;
  top: 0;
}

.projectTitle {
  display: flex;
  height: 60px;
  box-sizing: border-box;
  color: #fff;
  justify-content: space-between;
  background-color: #000;
  // width: 200px;

  h4 {
    font-family: "NeueMontreal";
    font-weight: 200;
    font-size: 16px;
    margin: 20px 20px 0 20px;
  }

  h3 {
    font-family: "NeueMontreal";
    font-weight: 200;
    font-size: 16px;
  }
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: calc((100vw - 800px) / 3);
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.infoGroup {
  //   width: 480px;
  align-self: center;
  color: #000;
  margin: 0 auto 40px auto;
  width: 100%;

  h3 {
    height: 40px;
  }

  p {
    // font-family: "NeueMontreal";
    // font-size: 18px;
    // font-weight: 200;
    // margin: 0.3em 0;
    padding: 3px 0;
    line-height: 1.3;
    margin: 0.3em 0;
  }

  ol {
    // margin-left: 25px;
    padding: 0 10px;
    list-style-position: inside;
    font-weight: 200;

    li {
      // font-family: "NeueMontreal";
      font-size: 18px;
      margin: 0.3em 0;
      padding: 3px;
      line-height: 1.3;
      list-style-type: disc;
    }
  }
}

.fixedHeight {
  // align-self: flex-start;
  height: 400px;
}

.projectNav {
  background-color: #f2fff2;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  height: 45px;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 910px) {
  .projectGrid {
    display: block;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
  }

  .projectInfo {
    position: relative;
    min-height: 100vh;
    height: 100%;
  }
}

@media screen and (max-width: 540px) {
  .projectGrid {
    width: 100%;
  }

  .fixedHeight {
    height: 500px;
  }
}

// @media screen and (max-width: 1160px) {
//   .projectGrid {
//     gap: 50px;
//     grid-template-columns: repeat(2, 400px);
//   }
// }
