//the whole projects section
.projectSection {
  h1 {
    color: #fff;
    margin: 20px;
  }
}

//individual projects
.project {
  margin: var(--site-padding);

  p {
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    padding: 15px 30px 0 0;
    width: var(--column-width);
  }
}

//worksImage -> images for works lol
.projectImage {
  //variables for width and height to get same ratio always
  --image-height: calc((var(--image-width) * 16) / 31);
  --image-width: var(--column-width);

  box-sizing: border-box;
  height: var(--image-height);
  width: var(--image-width);
  overflow: hidden;
  margin-bottom: 10px;
  // box-shadow: 0 0 10px 5px #ebebeb;
  // box-shadow: 2px 0 15px 5px #4f4f4f;

  img {
    box-sizing: border-box;
    object-fit: cover;
    height: var(--image-height);
    width: var(--image-width);
  }

  a {
    height: inherit;
    width: inherit;
  }
}

//project -> indivual project slides i guess
//project info
//  -->projectHead
//  -->projectDescript
//  -->projectPlus
.projectInfo {
  border-bottom: 1px dotted #fff;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, var(--columns-width));
  grid-template-rows: repeat(2, auto);
  height: fit-content;
}

.projectTitle {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  width: var(--column-width);
  grid-column: 1 / 2;
  position: relative;

  h3 {
    padding: 5px 0 0 0;
  }

  h2 {
    align-self: flex-end;
    font-size: 20px;
    height: fit-content;
    line-height: 1.5;
    width: var(--column-width);
    // position: absolute;
    // bottom: 0;
  }
}

.projectDescript {
  display: flex;
  width: calc(var(--column-width) * 2);
  grid-column: 2 / 4; // height: fit-content;
  margin-top: 10px;

  p {
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    padding: 0px 30px 0 0;
    width: var(--column-width);
  }

  ul {
    box-sizing: border-box;
    width: var(--column-width);
    padding: 0px 30px 0 0;
  }

  ol {
    box-sizing: border-box;
    width: var(--column-width);
    padding: 0px 0 0 23px;
    list-style-type: decimal;
  }

  li {
    color: #fff;
    font-weight: 200;
  }
}

.info {
  overflow: hidden;
}

.projectPlus {
  align-self: flex-end;
  display: flex;
  position: relative;
  height: 50px;
  width: var(--column-width);
  // position: absolute;
  grid-column: 4 / 5;
  // left: calc((var(--column-width) * 3) + var(--site-padding));
}

//process button -> see more button
.seeProcess {
  background-color: #fff;
  border-radius: 25px;
  box-sizing: border-box;
  color: #000000;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 34px;
  padding: 8px;
  margin: 8px 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 160px;
}

.seeProcess:hover {
  font-style: italic;
}
