.site_nav {
  border-bottom: 1px dotted white;

  ul {
    width: fill;
    box-sizing: border-box;
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
  }

  li {
    height: fit-content;
    align-self: center;
  }

  a {
    color: #ffffff;
    font-size: var(--nav-font-size);
  }
}

.logo {
  width: 30px;
  display: block;

  img {
    width: inherit;
  }
}
