.site_nav {
  ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: calc(var(--site-padding) / 2) var(--site-padding);
    width: fill;
  }

  li {
    align-self: center;
    height: fit-content;
  }

  a {
    color: #ffffff;
    font-size: var(--nav-font-size);
  }

  li:hover {
    font-style: italic;
  }
}

.logo {
  display: block;
  // width: 30px;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.6px;

  // img {
  //   width: inherit;
  // }
}
