.container footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: var(--site-padding);

  ul {
    width: 50%;
  }

  li {
    color: #ffffff;
    display: flex;
    font-size: var(--body-font-size);
    justify-content: flex-end;
    margin: 20px 0;
    text-transform: uppercase;
  }

  a {
    color: #ffffff;
  }

  a:hover {
    font-style: italic;
  }
}

.lin {
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  height: 30px;
  text-transform: none;
  width: 30px;

  p {
    color: #1f1f1f;
    display: block;
    font-family: myriad-pro, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    height: fit-content;
    letter-spacing: -1px;
    line-height: 80%;
    margin: auto;
    width: fit-content;
  }
}
