.works {
  // border-top: 1px dotted white;

  h2 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
    font-size: var(--body-font-size);
    font-weight: 400;
  }

  li {
    color: #ffffff;
    font-size: var(--body-font-size);
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 1.4;
  }
}

.works header {
  display: flex;
  height: 200px;
  margin: calc(var(--site-padding) / 2) var(--site-padding);

  h1 {
    align-self: flex-end;
    color: #ffffff;
    display: block;
  }
}

.indWorks {
  border-bottom: 1px dotted white;
  display: grid;
  gap: 40px;
  grid-template-columns: 450px auto auto;
  grid-template-rows: auto auto;
  margin: calc(var(--site-padding) * 2) var(--site-padding) var(--site-padding)
    var(--site-padding);
  padding-bottom: var(--site-padding);
}

.workHeader {
  display: flex;
  grid-row: 2 / 3;

  a {
    align-self: flex-end;
  }

  a:hover {
    font-style: italic;
  }
}

.workInfo {
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.workCat {
  grid-column: 3 / 4;
  text-align: right;
  text-transform: uppercase;
}

.genButton {
  display: flex;

  a {
    align-self: flex-end;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    display: block;
    font-size: calc(var(--body-font-size) + 2px);
    font-weight: 600;
    height: 22px;
    letter-spacing: 0.7px;
    padding: 10px 20px;
    text-align: center;
    width: 170px;
  }
}

.workButton {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  justify-content: flex-end;
}

.genButton a:hover {
  font-style: italic;
}

//process stuff, individual process pages
// --- processInfo
// ------ h2
// ------ div w info

// ------ "space" if needed

.processHeader {
  border-bottom: 1px dotted #ffffff;
  box-sizing: border-box;
  display: grid;
  gap: 40px;
  grid-template-columns: 200px auto 650px;
  grid-template-rows: 1fr auto;
  margin: var(--site-padding);
  padding-bottom: var(--site-padding);
}

.processCat {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: fit-content;
  text-transform: uppercase;
}

.processSum {
  align-self: flex-end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: fit-content;
}

.processButton {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.processInfo {
  border-bottom: 1px dotted #ffffff;
  display: grid;
  gap: 40px;
  grid-template-columns: 200px auto 200px;
  margin: calc(var(--site-padding) * 2) var(--site-padding);
  padding-bottom: calc(var(--site-padding) * 2);

  ol {
    list-style-type: decimal;
    padding-left: 30px;
  }

  .head {
    h2 {
      margin-bottom: 40px;
    }
  }
}

.processPictures {
  background-color: #000;
  box-sizing: border-box;
  height: auto;
  padding: 40px;
  width: 100%;

  img {
    border: 1px dotted #737373;
    box-sizing: border-box;
    display: block;
    margin: 20px auto;
    max-height: 600px;
    max-width: 100%;
    object-fit: scale-down;
    //need to add a media query for sizing this for mobile
  }

  p {
    color: #bdbdbd;
    font-style: italic;
  }
}

.space {
  height: 40px;
}

.smallSpace {
  height: 20px;
}
